@media screen and (max-width: 750px) {

    
    .tab-big{
        display: none;
    }

    .tab-lil {
        display: flex;
    }

    .control-buttons-small {
        display: flex;
    }

    .control-buttons-large {
        display: none;
    }

    .logout-my-avatars {
        display: none;
    }
    .login-large {
        display: none;
    }

    .login-small {
        display: flex;
    }

    .large {
        display: none;
    }

    .small {
        display: flex;
    }

}

@media screen and (min-width: 751px) and (max-width: 1200px) {
    .tab-big{
        display: flex;
    }

    .tab-lil {
        display: none;
    }

    .control-buttons-small {
        display: none;
    }

    .control-buttons-large {
        display: flex;
    }
    .login-large {
        display: flex;
    }

    .login-small {
        display: none;
    }

    .small {
        display: none;
    }

    .large {
        display: flex;
    }



}

@media screen and (max-height: 200px) {}

@media screen and (min-height: 201px) and (min-width: 1201px) {

    .small {
        display: none;
    }

    .large {
        display: flex;
    }

    .tab-big{
        display: flex;
    }

    .tab-lil {
        display: none;
    }

    .control-buttons-small {
        display: none;
    }

    .control-buttons-large {
        display: flex;
    }

    .login-large {
        display: flex;
    }

    .login-small {
        display: none;
    }

}