@media screen and (max-width: 550px) {

    .hair-style{
        top: -3%;
    }

}

@media screen and (min-width: 551px) and (max-width: 651px) {

    .hair-style{
        top: -1%;
    }

}

@media screen and (min-width: 651px) and (max-width: 751px) {

    .hair-style{
        top: 1%;
    }

}

@media screen and (min-width: 751px) and (max-width: 851px) {

    .hair-style{
        top: 2%;
    }

}

@media screen and (min-width: 851px) and (max-width: 951px) {

    .hair-style{
        top: 4%;
    }

}

@media screen and (min-width: 951px) and (max-width: 1051px) {

    .hair-style{
        top: 5%;
    }

}

@media screen and (min-width: 1051px) and (max-width: 1151px) {

    .hair-style{
        top: 6%;
    }

}

@media screen and (min-width: 1151px) and (max-width: 1251px) {

    .hair-style{
        top: 8%;
    }

}

@media screen and (min-width: 1251px) and (max-width: 1351px) {

    .hair-style{
        top: 9%;
    }

}

@media screen and (min-width: 1351px) and (max-width: 1451px) {

    .hair-style{
        top: 10%;
    }

}

@media screen and (min-width: 1451px) and (max-width: 1551px) {

    .hair-style{
        top: 13%;
    }

}

@media screen and (min-width: 1551px) and (max-width: 1651px) {

    .hair-style{
        top: 13%;
    }

}

@media screen and (min-width: 1651px) and (max-width: 1751px) {

    .hair-style{
        top: 14%;
    }

}

@media screen and (min-width: 1751px) and (max-width: 1851px) {

    .hair-style{
        top: 15%;
    }

}

@media screen and (min-width: 1851px) and (max-width: 1951px) {

    .hair-style{
        top: 17%;
    }

}


